/* Links */

#content a:link,
dl.portlet a:link {
    color: #003399;
    border-bottom: 0.1em solid #003399;
}

dl.portlet a:visited {
    color: #003399;
    border-bottom: 0.1em solid #003399;
}
#content a:visited {
    color: #668899;
    border-bottom: 0.1em solid #668899;
}

#content a:hover,
dl.portlet a:hover {
    text-decoration: none;
}
#content a:target {
    background-color: #ffb;
}

.sublist{
    margin-left: 3em;
    font-style: italic;
}

.sublist a {
    margin-right: 0.5em;
}

/* Button http://webdesignerwall.com/tutorials/css3-gradient-buttons */

.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 5px 2px; /* more vertical margin for mobile */
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

#content .button.darkblue {
    color: #d9eef7 !important;
    border: solid 1px #003399;
    background: #999ada;
    background: -webkit-gradient(linear, left top, left bottom, from(#999ada), to(#003399));
    background: -moz-linear-gradient(top,  #999ada,  #003399);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999ada', endColorstr='#003399');
}
#content .button.darkblue:hover {
    background: #52126d;
    background: -webkit-gradient(linear, left top, left bottom, from(#001e8e), to(#061454));
    background: -moz-linear-gradient(top,  #001e8e,  #061454);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e8e', endColorstr='#061454');
}
#content .button.darkblue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#003399), to(#999ada));
    background: -moz-linear-gradient(top,  #003399, #999ada);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#003399', endColorstr='#999ada');
}

/* collapsible */
.readmore-item {
    margin-bottom: 1.5em; /* different margin for mobile */
}
.readmore-item .description {
    padding-bottom: 0em;
    margin-bottom: 0.1em; /* different margin for mobile */
}
.collapse-head {
    background: url('++resource++osha.campaigntoolkit.resources/arrow-up.png') no-repeat center right;
    padding-right: 1em;
}
.collapse-head.collapsed {
    background: url('++resource++osha.campaigntoolkit.resources/arrow-down.png') no-repeat center right;
}
